
<head>
   
    <style>
        @import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/solaimanlipi/stylesheet.css');

      
* {
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box;

}


body {
  padding: 0;
  margin: 0;
  font-family: 'SolaimanLipi', sans-serif;
                                            

}

.bengali-text {
        font-family: 'Noto Sans Bengali', sans-serif;
      }

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}


.title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px
}


h2{
    font-size: 22px;
    margin-top: 10px;

}

h3 {
    font-size: 25px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

p {
    font-size: 14px;
}

small {
    font-size: 15px;
    font-weight: 500;
}

table {
   
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid lightgray;
    
}

td {
    padding: 3px 8px;
    font-size: 13px;
}




.applicant-signature {
    text-align: center;
    width: 300px;
    top: 30px;
    position: absolute;
    right: 0
}


.line {
    
    width: 100%;
    height: 2px;
    display: block;
    background-color: black;
    margin-bottom: 5px
}

    </style>
</head>
<body>
    <div class="container">
        <section style="position: relative;">
      
            <div style="position: absolute; left:0" >
                <img width="100px" src="https://zpjamalpur.com/assets/logo-r3VuArjo.png" alt="logo">
            </div>
            <div style="position: absolute; left: 0; right: 0; margin: auto ; text-align: center;" >
                <h3>জেলা পরিষদ, জামালপুর।</h3>
                <small>www.zpjamalpur.com</small>
            </div>
            <div style="position: absolute; top: 0; right: 0; text-align: center; border: 1px solid black" >
                <img width="130px" src="http://localhost:5000/<%= attachment.profileImg %>" alt="picture">
                <h6 style="font-size: 18px;">রেজি: <%= regNumber %></h6>
            </div>
        </section>

        <section style="text-align: center; position: absolute; top: 70px; left: 0; right: 0; margin: auto">
            <h2> <%= sessionDetails.session %>  অর্থ বছরের প্রশিক্ষণের জন্য আবেদন</h2>
            <h6>(শুধুমাত্র জামালপুর জেলার স্থায়ী বাসিন্দাদের জন্য)</h6>
        </section>
        
        <section style="position: relative; top: 160px">
            <h4 class="title">সাধারণ তথ্য:</h4>
            <table>
                <tr>
                    <td>প্রশিক্ষনার্থীর নাম (বাংলায়):</td>
                    <td><%= name %></td>

                    <td>প্রশিক্ষনার্থীর নাম (ইংরেজীতে)</td>
                    <td><%= nameInEnglish %></td>
                </tr>
                <tr>
                    <td>পিতার নাম (বাংলায়):</td>
                    <td> <%= fatherName %> </td>

                    <td >পিতার নাম (ইংরেজীতে)</td>
                    <td>  <%= fatherNameinEnglish %> </td>
                </tr>
                <tr>
                    <td >মাতার নাম (বাংলায়):</td>
                    <td>  <%= motherName %> </td>

                    <td>মাতার নাম (ইংরেজীতে):</td>
                    <td> <%= motherNameInEnglish %> </td>
                </tr>
                <tr>
                    <td >জন্ম তারিখ:</td>
                    <td> <%= birthDate %> </td>

                    <td>জন্ম নিবন্ধন নাম্বার:</td>
                    <td> <%= birthCertificateNumber %> </td>
                </tr>
                <tr>
                    <td>ইমেইল:</td>
                    <td>   <%= email %>  </td>

                    <td >মোবাইল নম্বর:</td>
                    <td> <%= mobile %>  </td> 
                </tr>
                <tr>
                    <td >প্রশিক্ষণের বিষয়:</td>
                    <td>  <%= courseDetails.name %> </td>

                    <td> </td>
                    <td> </td>
                </tr>
            </table>
        </section>

        <section style="position: relative; top: 160px">
            <div style="width: 49%; position: absolute; left:0">
                <h4 class="title">স্থায়ী ঠিকানা:</h4>
                <table>
                    <tr>
                        <td class="info">গ্রাম/বাসা নম্বর:</td>
                        <td> <%= parmanentVillage %>  </td> 
                    </tr>
                    <tr>
                        <td class="info">এলাকা:</td>
                        <td> <%= parmanentArea %>  </td>
                    </tr>
                    <tr>
                        <td class="info">ডাকঘর:</td>
                        <td> <%= parmanentPostOffice %>  </td>
                    </tr>
                    <tr>
                        <td class="info">উপজেলা:</td>
                        <td>  <%= parmanentUpazilla %>  </td>                        
                    </tr>
                    <tr>
                        <td class="info">জেলা:</td>
                        <td>  <%= parmanentDistrict %> </td>
                    </tr>
                </table>
            </div>
            <div style="width: 49%; position: absolute; right:0">
                <h4 class="title">বর্তমান ঠিকানা:</h4>
                <table>
                    <tr>
                        <td class="info">গ্রাম/বাসা নম্বর:</td>
                        <td> <%= presentVillage %>  </td> 
                    </tr>
                    <tr>
                        <td class="info">এলাকা:</td>
                        <td> <%= presentArea %> </td>
                    </tr>
                    <tr>
                        <td class="info">ডাকঘর:</td>
                        <td>  <%= presentPostOffice %> </td>
                    </tr>
                    <tr>
                        <td class="info">উপজেলা:</td>
                        <td> <%= presentUpazilla %> </td>                        
                    </tr>
                    <tr>
                        <td class="info">জেলা:</td>
                        <td> <%= presentDistrict %> </td>
                    </tr>
                </table>
            </div>
        </section>

        <section style="position: relative; top:330px">
            <div style="width: 49%; position: absolute;  left:0">
                <h4 class="title">এস এস সি / সমমান পরীক্ষা পাসের বিবরণ:</h4>
                <table>
                    <tr>
                        <td class="info">পরীক্ষার নাম:</td>
                        <td> <%= examOne %> </td> 
                    </tr>
                    <tr>
                        <td class="info">বোর্ড:</td>
                        <td> <%= examOneBoard %> </td>
                    </tr>
                    <tr>
                        <td class="info">গ্রুপ/বিভাগ:</td>
                        <td> <%= examOneGroup %> </td>
                    </tr>
                    <tr>
                        <td class="info">পাশের সন:</td>
                        <td><%= examOneYear %></td>                        
                    </tr>
                    <tr>
                        <td class="info">রোল নাম্বার:</td>
                        <td><%= examOneRoll %></td>
                    </tr>
                    <tr>
                        <td class="info">রেজিস্ট্রেশন নাম্বার:</td>
                        <td><%= examOneReg %></td>
                    </tr>
                    <tr>
                        <td class="info">ফলাফল:</td>
                        <td><%= examOneResult %></td>
                    </tr>
                </table>
            </div>
            <div style="width: 49%; position: absolute; right:0">
                <h4 class="title">এইচ এস সি / সমমান পরীক্ষা পাসের বিবরণ:</h4>
                <table>
                    <tr>
                        <td class="info">পরীক্ষার নাম:</td>
                        <td> <%= examTwo %></td> 
                    </tr>
                    <tr>
                        <td class="info">বোর্ড:</td>
                        <td>  <%= examTwoBoard %> </td>
                    </tr>
                    <tr>
                        <td class="info">গ্রুপ/বিভাগ:</td>
                        <td><%= examTwoGroup %> </td>
                    </tr>
                    <tr>
                        <td class="info">পাশের সন:</td>
                        <td><%= examTwoYear %></td>                        
                    </tr>
                    <tr>
                        <td class="info">রোল নাম্বার:</td>
                        <td><%= examTwoRoll %></td>
                    </tr>
                    <tr>
                        <td class="info">রেজিস্ট্রেশন নাম্বার:</td>
                        <td><%= examTwoReg %></td>
                    </tr>
                    <tr>
                        <td class="info">ফলাফল:</td>
                        <td><%= examTwoResult %></td>
                    </tr>
                </table>
            </div>
        </section>
        <section style="position: relative; top:550px">
            <div style="width: 49%; position: absolute;  left:0">
                <h4 class="title">স্নাতক পাসের বিবরণ:</h4>
                <table>
                    <tr>
                        <td class="info">বিষয়:</td>
                        <td> <%= honSubject %> </td> 
                    </tr>
                    <tr>
                        <td class="info">রোল নাম্বার:</td>
                        <td> <%= honRoll %> </td>
                    </tr>
                    <tr>
                        <td class="info">রেজিস্ট্রেশন নাম্বার:</td>
                        <td> <%= honReg %> </td>
                    </tr>
                    <tr>
                        <td class="info">পাশের সন:</td>
                        <td><%= honYear %></td>                        
                    </tr>
                 
                    <tr>
                        <td class="info">ফলাফল:</td>
                        <td><%= honResult %></td>
                    </tr>
                </table>
            </div>
            <div style="width: 49%; position: absolute; right:0">
                <h4 class="title">স্নাতকোত্তর পাসের বিবরণ:</h4>
                <table>
                    <tr>
                        <td class="info">বিষয়:</td>
                        <td> <%= masSubject %> </td> 
                    </tr>
                    <tr>
                        <td class="info">রোল নাম্বার:</td>
                        <td> <%= masRoll %> </td>
                    </tr>
                    <tr>
                        <td class="info">রেজিস্ট্রেশন নাম্বার:</td>
                        <td> <%= masReg %> </td>
                    </tr>
                    <tr>
                        <td class="info">পাশের সন:</td>
                        <td><%= masYear %></td>                        
                    </tr>
                 
                    <tr>
                        <td class="info">ফলাফল:</td>
                        <td><%= masResult %></td>
                    </tr>
                </table>
            </div>
        </section>

        <section  style="position: relative; top: 820px">
            <div style="width: 100%; position: absolute; left:0">
                <h4 class="title">অন্যান্য তথ্য:</h4>
                <table>
                    
                    <tr>
                        <td >আবেদনকারী মুক্তিযোদ্ধার সন্তান/ নাতি নাতনি কি?</td>
                        <td> <%- cota == '0' ? 'না' : 'হ্যা' %></td>
                    </tr>
                    <tr>
                        <td >আবেদনকারী প্রতিবন্ধী কি?</td>
                        <td> <%- disabled == '0' ? 'না' : 'হ্যা' %> </td>                        
                    </tr>
                    <tr>
                        <td >আবেদনকারী উপজাতি কি?</td>
                        <td>  <%- upazati == '0' ? 'না' : 'হ্যা' %>  </td>
                    </tr>
        
                </table>
            </div>
        </section>


        <footer style="position: relative; top:1020px">
           
            <div class="applicant-signature">
                <img width="200px" src="http://localhost:5000/<%= attachment.signature %>" alt="Signature">
                <div class="line"></div>
                <p>আবেদনকারীর স্বাক্ষর</p>
            </div>
          

            <div style=" position: absolute; right: 0; top: 130px;">
                <p>শিক্ষাপ্রতিষ্ঠান/বিভাগীয় প্রধানের মতামত/সুপারিশ ........................................................................................................................</p>
            </div>

            <div style="text-align: center; position: absolute;  right: 0; top: 220px;">
                <p>স্বাক্ষর ও সীল <br> প্রতিষ্ঠান প্রধান/বিভাগীয় প্রধান</p>
            </div>

        </footer>
        
        


    </div>
    
</body>